<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998490864690-h5peo3bm3al52e8jl31u5h44gtohpoqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998490864690-h5peo3bm3al52e8jl31u5h44gtohpoqj</string>
	<key>API_KEY</key>
	<string>AIzaSyDvEXUiWbTaL8JpTrW0lDjfArDRLa58TRs</string>
	<key>GCM_SENDER_ID</key>
	<string>998490864690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rquartaroli.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-6d22e</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-6d22e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998490864690:ios:32571439d82b3717d8102b</string>
</dict>
</plist>